#searchbar {
  background-color: var(--background-color);
  border: none;
  border-bottom: 4px solid var(--nav-color);
  font-size: 30px;
  width: 50%;
  padding: 10px;
  color: var(--text-color);
  transition: all 0.15s;
  caret-color: var(--text-color);
  outline: none;
  margin: 20px auto;
}

::placeholder {
  color: #95a5a6;
}

#searchbar:focus,
#searchbar:hover {
  font-size: 32px;
}

@media screen and (max-width: 890px) {
  #searchbar {
    font-size: 20px;
    width: 100%;
  }
  #searchbar:focus,
  #searchbar:hover {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  #searchbar {
    font-size: 13px;
  }
  #searchbar:focus,
  #searchbar:hover {
    font-size: 15px;
  }
}
