.mom {
  width: auto;
  height: 320px;
  border-radius: 50%;
  box-shadow: 0 1px 5px black;
  opacity: 0;
}

.homepage {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.textcontainer {
  display: flex;
  flex-direction: column;
  width: 35%;
  text-align: left;
  opacity: 0;
}

.textcontainer h1 {
  font-size: 50px;
  margin-left: 0;
  margin-bottom: 20px;
}
.momh1 {
  cursor: default;
  transition: color 0.2s;
  color: #f1c40f;
}

.textcontainer p {
  font-size: 30px;
}

#add {
  margin: auto;
  position: relative;
  margin-top: 100px;
  background-color: #f1c40f;
  border: none;
  color: var(--nav-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px black;
  transition: all 0.2s;
  opacity: 0;
  font-size: 1px;
}

#add:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

@media screen and (max-width: 768px) {
  .homepage {
    flex-direction: column;
  }

  .mom {
    height: 245px;
    margin-bottom: 40px;
  }

  #add {
    margin-top: 70px;
  }

  .textcontainer {
    width: 80%;
    text-align: center;
  }
}
