nav {
  width: 100%;
  background-color: var(--nav-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 0 4px black;
  opacity: 0;
}

nav a {
  color: var(--text-color);
  transition: all 0.2s;
}

nav a:hover {
  color: #f1c40f;
}

.buttons {
  width: 50%;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.buttons a {
  display: block;
  height: 100%;
  font-weight: bold;
  color: var(--text-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all 0.2s ease-out;
}

.buttons a:hover {
  color: #f1c40f;
}

#premium {
  color: #f1c40f;
}

#premium:hover {
  background-color: #f1c40f;
  color: var(--nav-color);
}

#burger-container {
  display: none;
}

#burger {
  font-size: 27px;
}

@media screen and (max-width: 800px) {
  nav {
    justify-content: space-between;
    padding-left: 30px;
    transition: all 0.2s;
    padding-right: 30px;
  }
  .buttons {
    display: none;
  }

  #burger-container {
    display: block;
  }

  .open {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
  }

  .open .buttons {
    display: block;
    width: 100%;
    margin-top: 70px;
    font-size: 20px;
  }

  .open .buttons * {
    padding: 30px;
  }

  .open h1 {
    position: absolute;
    left: 30px;
    top: 17px;
  }

  .open #burger-container {
    position: absolute;
    right: 30px;
    top: 17px;
  }
}
